@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-padding{
    @apply w-full px-4 sm:px-6 md:px-12 lg:px-20 xl:px-28 2xl:px-36;
  }
  .flex-center{
    @apply flex justify-center items-center;
  }
}
/* 解决ant-design和tailwindcss冲突的问题 */
.anticon svg { 
  vertical-align: baseline; 
} 
.ant-btn-primary { 
  background-color: #1677ff; 
} 
.ant-btn-default, .ant-btn-dashed { 
  background-color: white; 
}



